* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    padding: 0 10vw;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}
navbar h2 {
    font-size: 8vh;
}
navbar button {
    padding: 0 0.5vw;
    height: 5vh;
    width: 8vw;
    text-align: center;
    background-color: lightblue;
    font-size: 2vw;
    border-radius: 25px;
}

#start-button {
    background-color: green;
}

.row {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 5vh;
    border: 1px solid black;
    padding: 2vh 2vw;
}

#question1 h2,
#question2 h2 {
    font-size: 2.5vw;
}
.col {
    height: 100%;
    flex: 2;
}
.question-area {
    padding-bottom: 2vh;
    width: 100%;
    flex: 1;
    height: 100%;
}
.response-area {
    display: flex;
    align-items: initial;
    text-align: right;
}

.response-area p {
    flex: 1;
    margin-right: 2vw;
}
.response-area textarea {
    flex: 2;
}
textarea {
    height: 6vh;
    margin-bottom: 2vh;
}
.time-display {
    display: flex;
    align-items: center;
    text-align: center;
}
#about-yourself {
    display: none;
}
.HR-parent {
    display: flex;
}
.HR-prompt {
    flex: 1;
    margin-right: 2vw;
    margin-top: 2vh;
}
.HR-textareas {
    flex: 2;
    width: 100%;
} 
.HR-textareas textarea {
    width: 100%;
}

.content {
    text-align: center;
}
#about-yourself-button {
    margin-bottom: 2vh;
}