* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background: #00ecb9;
    padding-top: 2vh;
}

.content {
    background-color: black;
    color: black;
    padding: 0 5vw;
}
.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
    /* justify-content: center;
  text-align: center; */
}
.col {
    background-color: #00d100;
    padding: 3vh 5vw;
    height: 100%;
    flex: 3;
}

.question-area {
    width: 100%;
    flex: 1;
    background-color: #0062d1;
    padding: 3vh 5vw;
    height: 100%;
}

.response-area {
    display: flex;
    justify-content: space-between;
    align-items: initial;
}

.response-area p {
    flex: 1;
}

.response-area textarea {
    flex: 3;
}

textarea {
    height: 6vh;
    margin-bottom: 2vh;
}

.response-area-parent {
    margin-bottom: 10px;
}

.time-display {
  display: flex;
  align-items: center;
  text-align: center;
}